{% extends 'default/backend/index.html.twig' %}

{% block titre_page %}CONTACTS{% endblock %}

{% block contenu_site %}
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="{{ path('app_personnes_ajout') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> PERSONNE</button></a>
                <a href="{{ path('app_societes_ajout') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> SOCIETE</button></a>
            </div>

            <h2 class="panel-title">CARNET D'ADRESSES</h2>
        </header>

        <div class="panel-body">
            {% for flashError in app.flashes('successMSG') %}
                <div class="alert alert-success" role="alert">{{ flashError }}</div>
            {% endfor %}
            {% for flashError in app.flashes('errorMSG') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#personnes" data-toggle="tab"><i class="fa fa-user"></i> Personnes</a>
                    </li>
                    <li>
                        <a href="#societes" data-toggle="tab"><i class="fa fa-institution"></i> Sociétés</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="personnes" class="tab-pane active">
                        <p>
                            {% if tablePersonnes|length > 0 %}
                                <table class="table table-bordered table-striped table-condensed mb-none" id="datatable-contacts">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Date de naissance</th>
                                            <th>Email</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for personne in tablePersonnes %}
                                            <tr>
                                                <td>{{ personne.nom|e }}</td>
                                                <td>{{ personne.prenom|e }}</td>
                                                <td>{% if personne.dateNaissance != null %}{{ personne.dateNaissance|date('Y-m-d') }}{% endif %}</td>
                                                <td><a href="mailto:{{ personne.email|e }}">{{ personne.email|e }}</a></td>
                                                <td class="actions text-center col-md-1">
                                                    <a href="{{ path('app_personnes_edit', { 'id' : personne.id }) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                                    <a class="modal-basic" href="#modalBasicPersonne{{ personne.id }}"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>

                                            {# Fenetre modèle pour valider la suppression d'une ficher personne #}
                                            <div id="modalBasicPersonne{{ personne.id }}" class="modal-block modal-block-primary mfp-hide">
                                                <section class="panel">
                                                    <header class="panel-heading">
                                                        <h2 class="panel-title">Etes-vous sur de vouloir supprimer -- {{ personne.nom }} {{ personne.prenom }} -- ?</h2>
                                                    </header>
                                                    <div class="panel-body">
                                                        <p>
                                                            La suppression d'une personne peut impacter les autres modules.
                                                            En cas de doute, annuler votre action et archiver la fiche personne.
                                                        </p>
                                                    </div>
                                                    <footer class="panel-footer">
                                                        <div class="row">
                                                            <div class="col-md-12 text-right">
                                                                <button class="btn btn-warning btn-sm modal-dismiss">ANNULER</button>
                                                                <button class="on-default btn btn-success btn-sm remove-row" onclick="document.getElementById('js-personne-effacer-{{personne.id}}').submit();">CONFIRMER</button>
                                                                <form id="js-personne-effacer-{{personne.id}}"  action="{{ path('app_personnes_del', { 'id' : personne.id }) }}" method="post" style="display:none;">
                                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token('personne_supprime_' ~ personne.id) }}">
                                                                    <input type="hidden" name="_method" value="DELETE">
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </footer>
                                                </section>
                                            </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="alert alert-info">
                                    Aucune personne n'a été enregistrée pour le moment.
                                </div>
                            {% endif %}
                        </p>
                    </div>
                    <div id="societes" class="tab-pane">
                        <p>
                            {% if tableSocietes|length > 0 %}
                                <table class="table table-bordered table-striped table-condensed mb-none" id="datatable-societes">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Téléphone</th>
                                            <th>Email</th>
                                            <th>URL</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for societe in tableSocietes %}
                                            <tr>
                                                <td>{{ societe.nom|e }}</td>
                                                <td>{{ societe.telephone|e }}</td>
                                                <td>{{ societe.email }}</td>
                                                <td><a href="{{ societe.url|e }}" target="_blank">{{ societe.url|e }}</a></td>
                                                <td class="actions text-center col-md-1">
                                                    <a href="{{ path('app_societes_edit', { 'id' : societe.id }) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                                    <a class="modal-basic" href="#modalBasicSociete{{ societe.id }}"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>

                                            {# Fenetre modèle pour valider la suppression d'une ficher societe #}
                                            <div id="modalBasicSociete{{ societe.id }}" class="modal-block modal-block-primary mfp-hide">
                                                <section class="panel">
                                                    <header class="panel-heading">
                                                        <h2 class="panel-title">Etes-vous sur de vouloir supprimer la société -- {{ societe.nom }} -- ?</h2>
                                                    </header>
                                                    <div class="panel-body">
                                                        <p>
                                                            La suppression d'une societe peut impacter les autres modules.
                                                            En cas de doute, annuler votre action et archiver la fiche societe.
                                                        </p>
                                                    </div>
                                                    <footer class="panel-footer">
                                                        <div class="row">
                                                            <div class="col-md-12 text-right">
                                                                <button class="btn btn-warning btn-sm modal-dismiss">ANNULER</button>
                                                                <button class="on-default btn btn-success btn-sm remove-row" onclick="document.getElementById('js-societe-effacer-{{societe.id}}').submit();">CONFIRMER</button>
                                                                <form id="js-societe-effacer-{{societe.id}}"  action="{{ path('app_societes_del', { 'id' : societe.id }) }}" method="post" style="display:none;">
                                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token('societe_supprime_' ~ societe.id) }}">
                                                                    <input type="hidden" name="_method" value="DELETE">
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </footer>
                                                </section>
                                            </div>
                                    {% endfor %}
                                    </tbody>
                                </table>


                            {% else %}
                                <div class="alert alert-success">
                                    Aucune société n'a été enregistrée pour le moment.
                                </div>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer_script %}
    <script src="{{ asset('assets/javascripts/ui-elements/examples.modals.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatables/media/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatables-bs3/assets/js/datatables.js') }}"></script>
    <script src="{{ asset('assets/javascripts/tables/datatables.contacts.js') }}"></script>
{% endblock %}