<div class="table-responsive">
    {% if operationsRapprochees|length > 0 %}
        <table class="table table-bordered table-striped table-condensed mb-none">
            <thead>
                <tr>
                    <th class="text-center col-md-1">Date</th>
                    <th class="text-center col-md-4">Tiers</th>
                    <th class="text-center col-md-4">Description</th>
                    <th class="text-center col-md-1">Débit</th>
                    <th class="text-center col-md-1">Crédit</th>
                    <th class="text-center col-md-1">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for operation in operationsRapprochees %}
                    {% if operation.estPointe == false %}
                        <tr>
                            <td class="text-center">{{ operation.date|date('d/m/y') }}</td>
                            <td>
                                {% if operation.typeOperation == "RET" %}<i class="fa fa-money"></i> Retrait espèces {% endif %}
                                {% if operation.typeOperation == "VII" %}
                                    <i class="fa fa-exchange"></i> {{ operation.compte.titulaire.nom }} {{ operation.compte.titulaire.prenom }}
                                    {% if operation.compte.cotitulaire %} / {{ operation.compte.cotitulaire.nom }} {{ operation.compte.cotitulaire.prenom }}{% endif %}
                                {% endif %}
                                {% if (operation.typeOperation == "DEB" or operation.typeOperation == "CRE") %}
                                    {% if (operation.modePaiementTrigramme == 'VIR'and operation.typeOperation == "DEB" )%}<i class="fa fa-chevron-circle-left"></i>{% endif %}
                                    {% if (operation.modePaiementTrigramme == 'VIR'and operation.typeOperation == "CRE" )%}<i class="fa fa-chevron-circle-right"></i>{% endif %}
                                    {% if operation.modePaiementTrigramme == 'PRE' %}<i class="fa fa-caret-square-o-left"></i>{% endif %}
                                    {% if operation.modePaiementTrigramme == 'CB' %}<i class="fa fa-credit-card"></i>{% endif %}
                                    {% if operation.modePaiementTrigramme == 'CHQ' %}<i class="fa fa-file-text-o"></i>{% endif %}
                                    {% if operation.modePaiementTrigramme == 'PAY' %}<i class="fa fa-bitcoin"></i>{% endif %}
                                    {% if operation.modePaiementTrigramme == 'DEP' %}<i class="fa fa-caret-square-o-right"></i>{% endif %}
                                    {% if operation.typeTiers == 'L' %}{{ operation.tiersLibelle }}{% endif %}
                                    {% if operation.typeTiers == 'P' %}{{ operation.Personne.nom }} {{ operation.Personne.prenom }}{% endif %}
                                    {% if operation.typeTiers == 'S' %}{{ operation.Societe.nom }}{% endif %}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if operation.typeOperation == "VII"%}{{ operation.compte.libelle }} [{{ operation.compte.banque.societe.nom }}] {% endif %}
                                {% if (operation.typeOperation == "DEB" or operation.typeOperation == "CRE")   %}{{ operation.description }}{% endif %}
                            </td>
                            <td class="text-right text-danger">{% if operation.debit > 0 %}{{ operation.debit }} €{% endif %}</td>
                            <td class="text-right text-success">{% if operation.credit > 0 %}{{ operation.credit }} €{% endif %}</td>
                            <td class="text-center">
                                {% if operation.typeOperation == "RET" %}
                                    <a href="{{ path('app_myTresorerie_retrait_edit', { 'id' : operation.id }) }}"><i class="fa fa-pencil"></i></a>
                                {% endif %}
                                {% if operation.typeOperation == "VII" %}
                                    <a href="{{ path('app_myTresorerie_virement_edit', { 'id' : operation.id }) }}"><i class="fa fa-pencil"></i></a>
                                {% endif %}
                                {% if operation.typeOperation == "DEB" %}
                                    <a href="{{ path('app_myTresorerie_operation_debit_edit', { 'id' : operation.id }) }}"><i class="fa fa-pencil"></i></a>
                                {% endif %}
                                {% if operation.typeOperation == "CRE" %}
                                    <a href="{{ path('app_myTresorerie_operation_credit_edit', { 'id' : operation.id }) }}"><i class="fa fa-pencil"></i></a>
                                {% endif %}
                                <a href="#" class="on-default remove-row" onclick="event.preventDefault(); document.getElementById('js-operation-pointage-{{operation.id}}').submit();"><i class="fa fa-check-square"></i></a>
                                <form id="js-operation-pointage-{{operation.id}}"  action="{{ path('app_operation_pointage', { 'id' : operation.id }) }}" method="post" style="display:none;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token('operation_pointage_' ~ operation.id) }}">
                                    <input type="hidden" name="_method" value="UPDATE">
                                </form>
                                <a href="#" class="on-default remove-row" onclick="event.preventDefault(); confirm('Etes vous sur de vouloir continuer?') && document.getElementById('js-operation-effacer-{{operation.id}}').submit();"><i class="fa fa-trash-o"></i></a>
                                <form id="js-operation-effacer-{{operation.id}}"  action="{{ path('app_operation_del', { 'id' : operation.id }) }}" method="post" style="display:none;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token('operation_supprime_' ~ operation.id) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-success">
            Aucune opération n'a été enregistrée pour le moment.
        </div>
    {% endif %}
</div>