{% extends 'default/backend/index.html.twig' %}

{% block titre_page %}TRESORERIE{% endblock %}

{% block header_css %}
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatables-bs3/assets/css/datatables.css') }}" />
{% endblock %}

{% block contenu_site %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">[{{ compte.banque.societe.nom|upper }}] {{ compte.libelle }}</h2>
            <p class="panel-subtitle">TITULAIRE{% if compte.Cotitulaire %}S{% endif %} : {{ compte.titulaire.nom }} {{ compte.titulaire.prenom }} {% if compte.Cotitulaire %} - {{ compte.Cotitulaire.nom }} {{ compte.Cotitulaire.prenom }}{% endif %}</p>
            <div class="panel-actions">
               <a href="{{ path('app_myTresorerie_index') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-warning"><i class="fa fa-rotate-left" aria-hidden="true"></i> RETOUR</button></a>    
            </div>
        </header>
        <div class="panel-body">
            {% for flashMSG in app.flashes('errorMSG') %}
                <div class="alert alert-danger" role="alert">{{ flashMSG }}</div>
            {% endfor %}
            {% for flashMSG in app.flashes('successMSG') %}
                <div class="alert alert-success" role="alert">{{ flashMSG }}</div>
            {% endfor %}
            <div class="col-md-10">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#releves" data-toggle="tab"><i class="fa fa-tasks"></i> Relevé de comptes</a>
                        </li>
                        <li>
                            <a href="#operations" data-toggle="tab"><i class="fa fa-spinner"></i> Operations non rapprochées</a>
                        </li>
                        <li>
                            <a href="#echeances" data-toggle="tab"><i class="fa fa-tachometer"></i> Echéances du mois</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="releves" class="tab-pane active">
                            <p>{% include 'default/backend/myTresorerie/compte_releve_operations.html.twig' with {'operations': operationsRapprochees} %}</p>
                        </div>
                        <div id="operations" class="tab-pane">
                            {% include 'default/backend/myTresorerie/compte_releve_operationsNR.html.twig' with {'operations': operationsNonRapprochees} %}
                        </div>
                        <div id="echeances" class="tab-pane">
                            {% include 'default/backend/myTresorerie/compte_releve_echeances.html.twig' with {'operations': operationsEcheancesFuturs} %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="col-md-12 alert alert-{% if compte.SoldeReel < 0 %}danger{% else %}success{% endif %}">
                    <p>Solde Cours</p> 
                    <p class="text-{% if compte.SoldeCours < 0 %}danger{% else %}success{% endif %}"><strong>{{ compte.SoldeCours }} €</strong></p>
                    <p>Solde Réel</p>
                    <p class="text-{% if compte.SoldeReel < 0 %}danger{% else %}success{% endif %}"><strong>{{ compte.SoldeReel }} €</strong></p>
                </div> 
                {% if compte.typeCompte == 3 %}
                    <a href="{{ path('app_myTresorerie_compte_operation_titre_add', { 'idCompte' : compte.id }) }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary btn-block"><i class="fa fa-money" aria-hidden="true"></i> ACTION</button></a>
                {% endif %}
                {% if compte.typeCompte != 2 %}
                    <a href="{{ path('app_myTresorerie_compte_operation_debit_add', { 'idCompte' : compte.id }) }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary btn-block"><i class="fa fa-sign-out" aria-hidden="true"></i> DEBIT</button></a>
                {% endif %}
                <a href="{{ path('app_myTresorerie_compte_operation_credit_add', { 'idCompte' : compte.id }) }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> CREDIT</button></a>
                <a href="{{ path('app_myTresorerie_compte_virement_add', { 'idCompte' : compte.id }) }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary btn-block"><i class="fa fa-exchange" aria-hidden="true"></i> VIREMENT</button></a>
                {% if compte.typeCompte == 1 %}
                    <a href="{{ path('app_myTresorerie_compte_retrait_add', { 'idCompte' : compte.id }) }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary btn-block"><i class="fa fa-money" aria-hidden="true"></i> RETRAIT</button></a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer_script %}
    <script src="{{ asset('assets/javascripts/ui-elements/examples.modals.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatables/media/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatables-bs3/assets/js/datatables.js') }}"></script>
    <script src="{{ asset('assets/javascripts/tables/datatables.releve-operations.js') }}"></script>
{% endblock %}