{% extends 'default/backend/index.html.twig' %}

{% block titre_page %}TRESORERIE{% endblock %}

{% block css_header %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatables-bs3/assets/css/datatables.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/morris/morris.css') }}" />
{% endblock %}

{% block contenu_site %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">FORMULAIRE ECHEANCE</h2>
            <p class="panel-subtitle">Formulaire de saisie </p>
            <div class="panel-actions">
            <a href="{{ path('app_myTresorerie_echeance') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-warning"><i class="fa fa-rotate-left" aria-hidden="true"></i> ANNULER</button></a>
            </div>
        </header>
        <div class="panel-body">
                <div class="col-md-3 alert alert-success text-justify">
                    <p>
                        Une échéance de type débit est une opération bancaire paramétrable selon plusieurs modes:
							<div>
                                <ul>
                                    <li><strong>Unique:</strong> Une seule opération (passée ou future) sera ajoutée à la date d'échéance.</li>
                                    <li><strong>Paiement Xx:</strong> Une série d'opérations pré-définie en fonction du nombre de paiement. Aucune gestion des dates n'est possible.</li>
                                    <li><strong>Permanent:</strong> Une opération mensuelle avec ou sans date de fin. Il sera possible de recalculer les échéances des mois précédents. Si l'option de recalcul n'est pas sélectionnée, l'échéance du mois sera calculée et intégrée</li>
                                </ul>
                            </div>
                    </p>
                </div>
            {{ form_start(form)}}
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="col-md-3 control-label">DATE ECHEANCE</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                {{ form_widget(form.dateEcheanceOne) }}
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                        ARCHIVE <div class="switch switch-sm switch-success">{{ form_widget(form.est_solde)}}</div>
                        </div>
                    </div>
                    <div class="form-group" id="divRecalcul">
                        <label class="col-md-3 control-label">DATE FIN</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                {{ form_widget(form.dateFin) }}
                            </div>
                        </div>
                        <div class="col-md-8 text-right" id="divRecalcul">
                            Recalculer les échéances passées <div class="switch switch-sm switch-success">{{ form_widget(form.recalcul_operation_anterieur)}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">COMPTE</label>
                        <div class="col-md-5">
                            {{ form_widget(form.compteID) }}
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('app_societes_ajout') }}" class="btn btn-sm btn-info btn-block">AJOUT</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">TYPE TIERS</label>
                        <div class="col-md-5">
                            {{ form_widget(form.type_tiers) }}
                        </div>
                    </div>
                    <div class="form-group" id="tiers">
                        <label class="col-md-3 control-label">TIERS</label>
                        <div class="col-md-5">
                            {{ form_widget(form.tiers_libelle) }}
                        </div>
                    </div>
                    <div class="form-group" id="personneID">
                        <label class="col-md-3 control-label">TIERS</label>
                        <div class="col-md-5">
                            {{ form_widget(form.personneID) }}
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('app_personnes_ajout') }}" class="btn btn-sm btn-info btn-block">AJOUT</a>
                        </div>
                    </div>
                    <div class="form-group" id="societeID">
                        <label class="col-md-3 control-label">TIERS</label>
                        <div class="col-md-5">
                            {{ form_widget(form.societeID) }}
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('app_societes_ajout') }}" class="btn btn-sm btn-info btn-block">AJOUT</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">DESCRIPTION</label>
                        <div class="col-md-5">
                            {{ form_widget(form.description) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">CATEGORIE</label>
                        <div class="col-md-5">
                            {{ form_widget(form.sousCategorieID) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">MODE ECHEANCE</label>
                        <div class="col-md-5">
                            {{ form_widget(form.nombre_echeances) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">MODE DE PAIEMENT</label>
                        <div class="col-md-5">
                            {{ form_widget(form.modePaiementID) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">MONTANT TOTAL</label>
                        <div class="col-md-5">
                            {{ form_widget(form.montant_total) }}
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <input type="submit" class="btn btn-sm btn-success" value="VALIDER"/>
                    </div>
                </div>              
                </div>
            {{ form_end(form)}}
        </div>
    </section>
    {% block footer_Script %}
    <script>
        afficheChampTiers(document.getElementById("form_type_tiers").value);
        afficheRecalculEcheance(document.getElementById("form_nombre_echeances").value);

        document.getElementById("form_type_tiers").addEventListener("change", () => {
            afficheChampTiers(document.getElementById("form_type_tiers").value);
        });
        document.getElementById("form_nombre_echeances").addEventListener("change", () => {
            afficheRecalculEcheance(document.getElementById("form_nombre_echeances").value);
        });

        function afficheChampTiers (choix) {
            if (choix == "L") {
                document.getElementById("tiers").style.display = "block";
                document.getElementById("personneID").style.display = "none";
                document.getElementById("societeID").style.display = "none";
            }
            if (choix == "P") {
                document.getElementById("personneID").style.display = "block";
                document.getElementById("tiers").style.display = "none";
                document.getElementById("societeID").style.display = "none";
            }
            if (choix == "S") {
                document.getElementById("personneID").style.display = "none";
                document.getElementById("tiers").style.display = "none";
                document.getElementById("societeID").style.display = "block";
            }
        }

        function afficheRecalculEcheance (choix) {
            if (choix == 0) {
                document.getElementById("divRecalcul").style.display = "block";
            }
            else {
                document.getElementById("divRecalcul").style.display = "none";
            }
        }
    </script>
    {% endblock %}
{% endblock %}