{% extends 'default/backend/index.html.twig' %}

{% block titre_page %}TRESORERIE{% endblock %}

{% block css_header %}{% endblock %}

{% block contenu_site %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">VIREMENT INTERNE</h2>
            <p class="panel-subtitle">Formulaire de saisie </p>
            <div class="panel-actions">
               <a href="{{ path('app_myTresorerie_index') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-warning"><i class="fa fa-rotate-left" aria-hidden="true"></i> ANNULER</button></a>
                
            </div>
        </header>
        <div class="panel-body">
            {% for flashMSG in app.flashes('errorMSG') %}
                <div class="alert alert-danger" role="alert">{{ flashMSG }}</div>
            {% endfor %}
            <div class="col-md-12 col-sm-offset-1">
                {{ form_start(form)}}
                    <div class="form-group">
                        <label class="col-md-2 control-label">DATE</label>
                        <div class="col-md-5">
                            {{ form_widget(form.date)}}
                        </div>
                        <div class="col-md-2 text-right">
                        RAPPROCHE <div class="switch switch-sm switch-success">{{ form_widget(form.est_pointe)}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">COMPTE DEBITEUR</label>
                        <div class="col-md-5">
                            {{ form_widget(form.compteDebitID)}}
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('app_myTresorerie_referentiel_compte_add') }}" class="btn btn-sm btn-info btn-block">AJOUT</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">COMPTE CREDITEUR</label>
                        <div class="col-md-5">
                            {{ form_widget(form.compteCreditID)}}
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('app_myTresorerie_referentiel_compte_add') }}" class="btn btn-sm btn-info btn-block">AJOUT</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">MONTANT</label>
                        <div class="col-md-5">
                            <div class="input-group input-group-icon">
                                {{ form_widget(form.montant)}}
                                <span class="input-group-addon">
                                    <span class="icon"><i class="fa fa-euro"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>          
                    <div class="col-md-7 text-right">
                        <input type="submit" class="btn btn-sm btn-success" value="VALIDER" />
                    </div>
                {{ form_end(form)}}
            </div>
        </div>
    </section>
    {% block footer_Script %}{% endblock %}
{% endblock %}