    <div class="row">
        <div class="col-sm-12">
            <div class="mb-md text-right">
                
            </div>
        </div>
    </div>
    {% if comptes|length > 0 %}
        <table class="table table-bordered table-striped mb-none" id="datatable-editable">
            <thead>
                <tr>
                    <th>Banque</th>
                    <th>Libelle</th>
                    <th>Titulaire(s)</th>
                    <th class="col-md-1 text-center">Options</th>
                </tr>
            </thead>
            <tbody>
            {% for compte in comptes %}
                    <tr>
                        <td>{{ compte.banque.societe.nom }} ({{ compte.banque.guichet }})</td>
                        <td>{{ compte.libelle }}</td>
                        <td>{{ compte.titulaire.nom }} {{ compte.titulaire.prenom }}{% if compte.cotitulaire is not null %} / {{ compte.cotitulaire.nom }} {{ compte.cotitulaire.prenom }}{% endif %} </td>
                        <td class="actions text-center">
                            <a href="{{ path('app_myTresorerie_referentiel_compte_edit', { 'id' : compte.id }) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-success">
            Aucun compte n'a été enregistrée pour le moment.
        </div>
    {% endif %}