{% extends 'default/backend/index.html.twig' %}

{% block titre_page %}TRESORERIE{% endblock %}

{% block css_header %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatables-bs3/assets/css/datatables.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/morris/morris.css') }}" />
{% endblock %}

{% block contenu_site %}
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">COMPTE</h2>
            <p class="panel-subtitle">Formulaire de saisie </p>
            <div class="panel-actions">
            <a href="{{ path('app_myTresorerie_referentiel') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-warning"><i class="fa fa-rotate-left" aria-hidden="true"></i> ANNULER</button></a>
            </div>
        </header>
        <div class="panel-body">
            {{ form_start(form)}}
                <div class="col-md-10 col-md-offset-2">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Banque</label>
                        <div class="col-md-6">
                            {{ form_widget(form.banqueID) }}
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('app_myTresorerie_referentiel_banque_add') }}" class="btn btn-sm btn-info btn-block">AJOUT</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Type de compte</label>
                        <div class="col-md-6">
                            {{ form_widget(form.typeCompte)}}
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('app_myTresorerie_referentiel_type_compte_add') }}" class="btn btn-sm btn-info btn-block">AJOUT</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Libellé</label>
                        <div class="col-md-6">
                            {{ form_widget(form.libelle)}}
                            <span class="text-danger">{{ form_errors(form.libelle)}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Titulaire</label>
                        <div class="col-md-6">
                            {{ form_widget(form.titulaireID) }}
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('app_personnes_ajout') }}" class="btn btn-sm btn-info btn-block">AJOUT</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Co-Titulaire</label>
                        <div class="col-md-6">
                            {{ form_widget(form.cotitulaireID) }}
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('app_personnes_ajout') }}" class="btn btn-sm btn-info btn-block">AJOUT</a>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Numéro compte</label>
                        <div class="col-md-6">
                            {{ form_widget(form.numero)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Solde Initial</label>
                        <div class="col-md-6">
                            {{ form_widget(form.soldeInitial)}}
                            <span class="text-danger">{{ form_errors(form.soldeInitial)}}</span>
                        </div>
                    </div>   
                    <div class="col-md-9 text-right">
                        <input type="submit" class="btn btn-sm btn-success" value="VALIDER"/>
                    </div>
                </div>              
                </div>
            {{ form_end(form)}}
        </div>
    </section>
    {% block footer_Script %}{% endblock %}
{% endblock %}