<div class="col-md-12 text-right">
    <a href="{{ path('app_myTresorerie_referentiel_categorie_add') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> CATEGORIE</button></a>
    {% if categories|length > 0 %}
        <a href="{{ path('app_myTresorerie_referentiel_sous_categorie_add') }}"><button type="button" class="mb-xs mt-xs mr-xs btn-sm btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> SOUS-CATEGORIE</button></a>
    {% endif %}
</div>
{% if categories|length > 0 %}
    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
        <thead>
            <tr>
                <th></th>
                <th class="col-md-1 text-center">Options</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
                <tr>
                    <td><strong>{{ categorie.nom }}</strong></td>
                    <td class="actions text-center">
                        <a href="{{ path('app_myTresorerie_referentiel_categorie_edit', { 'id' : categorie.id }) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                {% if sousCategories|length > 0 %}
                    {% for sousCategorie in sousCategories %}
                        {% if categorie.nom == sousCategorie.categorie.nom %}
                            <tr>
                                <td><i class="fa fa-caret-right"></i> {{ sousCategorie.nom }}</td>
                                <td class="actions text-center">
                                    <a href="{{ path('app_myTresorerie_referentiel_sous_categorie_edit', { 'id' : sousCategorie.id }) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-success">
        Aucune catégorie n'a été enregistrée pour le moment.
    </div>
{% endif %}