{% extends 'default/base.html.twig' %}

{% block body %}
	<section class="body">
		<!-- start: header -->
		<header class="header">
			<div class="logo-container">
				<a href="/" class="logo">
					<img src="{{ asset('assets/images/logo.png') }}" height="35" alt="JSOFT Admin" />
				</a>
				<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
					<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
				</div>
			</div>
		
			<!-- start: search & user box -->
			<div class="header-right">
				<span class="separator"></span>
		
				<div id="userbox" class="userbox">
					<a href="#" data-toggle="dropdown">
						<figure class="profile-picture">
							<img src="{{ asset('assets/images/avatar.jpg') }}" alt="KeiTaRo35" class="img-circle" data-lock-picture="{{ asset('assets/images/avatar.jpg') }}" />
						</figure>
						<div class="profile-info" data-lock-name="{{ app.user.email }}" data-lock-email="{{ app.user.email }}">
							<span class="name">{{ app.user.email }}</span>
							<span class="role">Bienvenue</span>
						</div>
		
						<i class="fa custom-caret"></i>
					</a>
		
					<div class="dropdown-menu">
						<ul class="list-unstyled">
							<li class="divider"></li>
							<li>
								<a role="menuitem" tabindex="-1" href="{{ path('app_configuration_utilisateur_edit') }}"><i class="fa fa-user"></i> PROFIL</a>
							</li>
							<li>
								<a role="menuitem" tabindex="-1" href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i> DECONNEXION</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end: search & user box -->
		</header>
		<!-- end: header -->

		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside id="sidebar-left" class="sidebar-left">
				<div class="sidebar-header">
					<div class="sidebar-title">
						Navigation
					</div>
					<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<div class="nano">
					<div class="nano-content">
						<nav id="menu" class="nav-main" role="navigation">
							<ul class="nav nav-main">
								<li class="nav-active">
									<a href="{{ path('app_index') }}">
										<i class="fa fa-home" aria-hidden="true"></i>
										<span>ACCUEIL</span>
									</a>
								</li>
								<li>
									<a  href="{{ path('app_mycontacts') }}">
										<i class="fa fa-group" aria-hidden="true"></i>
										<span>CONTACTS</span>
									</a>
								</li>
								{#<li>
									<a href="{{ path('app_calendrier') }}">
										<i class="fa fa-calendar" aria-hidden="true"></i>
										CALENDRIER
									</a>
								</li>#}

								<li  class="nav-parent">
									<a href="#">
										<i class="fa fa-money" aria-hidden="true"></i>
										<span>TRESORERIE</span>
									</a>
									<ul class="nav nav-children">
										<li>
											<a href="{{ path('app_myTresorerie_index') }}">
												COMPTES
											</a>
										</li>
										<li>
											<a href="{{ path('app_myTresorerie_echeance') }}">
												ECHEANCIER
											</a>
										</li>
										<li>
											<a href="{{ path('app_myTresorerie_credit') }}">
												PRETS BANCAIRES
											</a>
										</li>
										<li>
											<a href="{{ path('app_myTresorerie_referentiel') }}">
												REFERENTIELS
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="{{ path('app_myContrats') }}">
										<i class="fa fa-files-o" aria-hidden="true"></i>
										<span>CONTRATS</span>
									</a>
								</li>
								{#<li>
									<a href="{{ path('app_construction') }}">
										<i class="fa fa-cutlery" aria-hidden="true"></i>
										<span>CUISINE</span>
									</a>
								</li>#}
								<li>
									<a href="{{ path('app_configuration') }}">
										<i class="fa fa-sliders" aria-hidden="true"></i>
										CONFIGURATION
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</aside>
			<!-- end: sidebar -->

			<section role="main" class="content-body">
				<header class="page-header">
					<h2>{% block titre_page %}Accueil{% endblock %}</h2>
				</header>

				{% block contenu_site %}
				
				<div class="col-md-12">
					<section class="panel">
						<header class="panel-heading">
							<h2 class="panel-title">Mouvements sur les 30 derniers jours par catégorie</h2>                           
						</header>
						<div class="panel-body">
							<div class="chart chart-md" id="morrisBar"></div>
							{% if categories|length > 0 %}
								{% set i = 1 %}
								<script type="text/javascript">
									var morrisBarData = [
										{% for categorie in categories %}
											{y: "{{ categorie.categorie }}",
											a: {{ categorie.credit }},
											b: {{ categorie.debit }}}{% if i < categories|length %},{% endif %}
											{% set i = i + 1 %}
										{% endfor %}
									];
								</script>
							{% endif %}
						</div>
					</section>
				</div>
				<div class="col-md-4">
					<section class="panel">
						<header class="panel-heading">
							<h2 class="panel-title">Comptes</h2>
						</header>
						<div class="panel-body">
							{% if banques|length > 0 %}
								{% for banque in banques %}
									<p class="col-md-12">
										<div class="ml-1"><strong>{{ banque.societe.nom|upper }}</strong></div>
										{% if comptes|length > 0 %}
											{% for compte in comptes %}
												{% if banque.id == compte.banque.id %}
												<div class="p-1">
														<div class="col-md-12">
															{{ compte.libelle }} (<em>{{ compte.titulaire.prenom}} {{ compte.titulaire.nom|slice(0,1) }}.{%if compte.cotitulaire %} / {{ compte.cotitulaire.prenom}} {{ compte.cotitulaire.nom|slice(0,1)}}. {% endif %})</em>
														</div>
														<div class="col-md-12 text-right">
															<span class="text-{% if compte.SoldeCours < 0 %}danger{% else %}success{% endif %}">{{ compte.SoldeCours }} €</span> (<span class="text-{% if compte.SoldeReel < 0 %}danger{% else %}success{% endif %}">{{ compte.SoldeReel }} €</span>)
														</div>
												</div>
												<br />
												{% endif %}
											{% endfor %}
										{% endif %}
									</p>
								{% endfor %}
							{% endif %}
						</div>
					</section>
				</div>
				<div class="col-md-8">
					<section class="panel">
						<header class="panel-heading">
							<h2 class="panel-title">Mouvements non rapprochés</h2>                           
						</header>
						<div class="panel-body">
							<div class="table-responsive">
								{% if listeEcheances|length > 0 %}
									<table class="table table-bordered table-striped table-condensed mb-none">
										<thead>
											<tr>
												<th class="text-center col-md-1">Date</th>
												<th class="text-center col-md-4">Compte</th>
												<th class="text-center col-md-4">Tiers</th>
												<th class="text-center col-md-2">Montant</th>
												<th class="text-center col-md-1">Options</th>
											</tr>
										</thead>
										<tbody>
											{% for operation in listeEcheances %}
												{% if operation.estPointe == false %}
													<tr>
														<td class="text-center">{{ operation.date|date('d/m/y') }}</td>
														<td>
															[{{ operation.compte.banque.societe.nom|upper }}] {{ operation.compte.libelle }}<br />
															<em>{{ operation.compte.titulaire.prenom }} {{ operation.compte.titulaire.nom|slice(0,1) }}.</em>
														</td>
														<td>
															{% if operation.typeOperation == "RET" %}<i class="fa fa-money"></i> Retrait espèces {% endif %}
															{% if operation.typeOperation == "VII" %}
																<i class="fa fa-exchange"></i> {{ operation.compte.titulaire.nom }} {{ operation.compte.titulaire.prenom }}
																{% if operation.compte.cotitulaire %} / {{ operation.compte.cotitulaire.nom }} {{ operation.compte.cotitulaire.prenom }}{% endif %}
															{% endif %}
															{% if (operation.typeOperation == "DEB" or operation.typeOperation == "CRE") %}
																{% if (operation.modePaiementTrigramme == 'VIR'and operation.typeOperation == "DEB" )%}<i class="fa fa-chevron-circle-left"></i>{% endif %}
																{% if (operation.modePaiementTrigramme == 'VIR'and operation.typeOperation == "CRE" )%}<i class="fa fa-chevron-circle-right"></i>{% endif %}
																{% if operation.modePaiementTrigramme == 'PRE' %}<i class="fa fa-caret-square-o-left"></i>{% endif %}
																{% if operation.modePaiementTrigramme == 'CB' %}<i class="fa fa-credit-card"></i>{% endif %}
																{% if operation.modePaiementTrigramme == 'CHQ' %}<i class="fa fa-file-text-o"></i>{% endif %}
																{% if operation.modePaiementTrigramme == 'PAY' %}<i class="fa fa-bitcoin"></i>{% endif %}
																{% if operation.modePaiementTrigramme == 'DEP' %}<i class="fa fa-caret-square-o-right"></i>{% endif %}
																{% if operation.typeTiers == 'L' %}{{ operation.tiersLibelle }}{% endif %}
																{% if operation.typeTiers == 'P' %}{{ operation.Personne.nom }} {{ operation.Personne.prenom }}{% endif %}
																{% if operation.typeTiers == 'S' %}{{ operation.Societe.nom }}{% endif %}
															{% endif %}
														</td>
														<td class="text-right {% if operation.debit > 0 %}text-danger{% endif %}{% if operation.credit > 0 %}text-success{% endif %}">
															{% if operation.debit > 0 %}- {{ operation.debit }} €{% endif %}
															{% if operation.credit > 0 %}{{ operation.credit }} €{% endif %}
														</td>
														<td class="text-center">
															{% if operation.typeOperation == "RET" %}
																<a href="{{ path('app_myTresorerie_retrait_edit', { 'id' : operation.id }) }}"><i class="fa fa-pencil"></i></a>
															{% endif %}
															{% if operation.typeOperation == "VII" %}
																<a href="{{ path('app_myTresorerie_virement_edit', { 'id' : operation.id }) }}"><i class="fa fa-pencil"></i></a>
															{% endif %}
															{% if operation.typeOperation == "DEB" %}
																<a href="{{ path('app_myTresorerie_operation_debit_edit', { 'id' : operation.id }) }}"><i class="fa fa-pencil"></i></a>
															{% endif %}
															{% if operation.typeOperation == "CRE" %}
																<a href="{{ path('app_myTresorerie_operation_credit_edit', { 'id' : operation.id }) }}"><i class="fa fa-pencil"></i></a>
															{% endif %}
															<a href="#" class="on-default remove-row" onclick="event.preventDefault(); document.getElementById('js-operation-pointage-{{operation.id}}').submit();"><i class="fa fa-check-square"></i></a>
															<form id="js-operation-pointage-{{operation.id}}"  action="{{ path('app_operation_pointage', { 'id' : operation.id }) }}" method="post" style="display:none;">
																<input type="hidden" name="csrf_token" value="{{ csrf_token('operation_pointage_' ~ operation.id) }}">
																<input type="hidden" name="_method" value="UPDATE">
															</form>
														</td>
													</tr>
												{% endif %}
											{% endfor %}
										</tbody>
									</table>
								{% else %}
									<div class="alert alert-success">
										Aucune échéance non rapprochée.
									</div>
								{% endif %}
							</div>
						</div>
					</section>
				</div>
				{% endblock %}
			</section>
		</div>
	</section>
{% endblock %}

{% block page_script %}
	<script src="{{ asset('assets/javascripts/ui-elements/charts.js') }}"></script>
{% endblock %}