{% extends 'default/base.html.twig' %}

{% block body %}
	<section class="body">
		<!-- start: header -->
		<header class="header">
			<div class="logo-container">
				<a href="/" class="logo">
					<img src="{{ asset('assets/images/logo.png') }}" height="35" alt="JSOFT Admin" />
				</a>
				<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
					<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
				</div>
			</div>
		
			<!-- start: search & user box -->
			<div class="header-right">
				<span class="separator"></span>
		
				<div id="userbox" class="userbox">
					<a href="#" data-toggle="dropdown">
						<figure class="profile-picture">
							<img src="{{ asset('assets/images/avatar.jpg') }}" alt="KeiTaRo35" class="img-circle" data-lock-picture="{{ asset('assets/images/avatar.jpg') }}" />
						</figure>
						<div class="profile-info" data-lock-name="{{ app.user.email }}" data-lock-email="{{ app.user.email }}">
							<span class="name">{{ app.user.email }}</span>
							<span class="role">Bienvenue</span>
						</div>
		
						<i class="fa custom-caret"></i>
					</a>
		
					<div class="dropdown-menu">
						<ul class="list-unstyled">
							<li class="divider"></li>
							<li>
								<a role="menuitem" tabindex="-1" href="{{ path('app_configuration_utilisateur_edit') }}"><i class="fa fa-user"></i> PROFIL</a>
							</li>
							<li>
								<a role="menuitem" tabindex="-1" href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i> DECONNEXION</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end: search & user box -->
		</header>
		<!-- end: header -->

		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside id="sidebar-left" class="sidebar-left">
				<div class="sidebar-header">
					<div class="sidebar-title">
						Navigation
					</div>
					<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<div class="nano">
					<div class="nano-content">
						<nav id="menu" class="nav-main" role="navigation">
							<ul class="nav nav-main">
								<li class="nav-active">
									<a href="{{ path('app_index') }}">
										<i class="fa fa-home" aria-hidden="true"></i>
										<span>ACCUEIL</span>
									</a>
								</li>
								<li>
									<a  href="{{ path('app_mycontacts') }}">
										<i class="fa fa-group" aria-hidden="true"></i>
										<span>CONTACTS</span>
									</a>
								</li>
								{#<li>
									<a href="{{ path('app_calendrier') }}">
										<i class="fa fa-calendar" aria-hidden="true"></i>
										<span>CALENDRIER</span>
									</a>
								</li>#}

								<li  class="nav-parent">
									<a href="#">
										<i class="fa fa-money" aria-hidden="true"></i>
										<span>TRESORERIE</span>
									</a>
									<ul class="nav nav-children">
										<li>
											<a href="{{ path('app_myTresorerie_index') }}">
												COMPTES
											</a>
										</li>
										<li>
											<a href="{{ path('app_myTresorerie_echeance') }}">
												ECHEANCIER
											</a>
										</li>
										<li>
											<a href="{{ path('app_myTresorerie_credit') }}">
												PRETS BANCAIRES
											</a>
										</li>
										<li>
											<a href="{{ path('app_myTresorerie_referentiel') }}">
												REFERENTIELS
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="{{ path('app_myContrats') }}">
										<i class="fa fa-files-o" aria-hidden="true"></i>
										<span>CONTRATS</span>
									</a>
								</li>
								{#<li>
									<a href="{{ path('app_construction') }}">
										<i class="fa fa-cutlery" aria-hidden="true"></i>
										<span>CUISINE</span>
									</a>
								</li>#}
								<li>
									<a href="{{ path('app_configuration') }}">
										<i class="fa fa-sliders" aria-hidden="true"></i>
										<span>CONFIGURATION</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</aside>
			<!-- end: sidebar -->

			<section role="main" class="content-body">
				<header class="page-header">
					<h2>{% block titre_page %}Accueil{% endblock %}</h2>
				</header>

				{% block contenu_site %}
				{% endblock %}
			</section>
		</div>
	</section>
{% endblock %}
