{% extends 'default/backend/index.html.twig' %}

{% block titre_page %}CONFIGURATION{% endblock %}

{% block contenu_site %}
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <div class="mb-md">
                    <a href="{{ path('app_configuration_utilisateur_edit') }}"><button class="btn btn-sm btn-warning"><i class="fa fa-rotate-left"></i> ANNULER</button></a>
                </div>
            </div>

            <h2 class="panel-title">MODIFICATION DU MOT DE PASSE</h2>
            <p class="panel-subtitle">Formulaire de saisie</p>
        </header>

        <div class="panel-body">
            {{ form_start(registrationForm)}}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <section class="panel">
                            <div class="panel-body">
                                {% for flashError in app.flashes('erreurPassword') %}
                                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                {% endfor %}
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Ancien mot de passe</label>
                                    <div class="col-sm-7">
                                        {{ form_widget(registrationForm.ancienMDP)}}
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Nouveau mot de passe</label>
                                    <div class="col-sm-7">
                                        {{ form_widget(registrationForm.nouveauMDP)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Répéter nouveau mot de passe</label>
                                    <div class="col-sm-7">
                                        {{ form_widget(registrationForm.plainPassword) }}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="col-md-12 text-right">
                            <input type="submit" class="btn btn-sm btn-success" value="VALIDER"/>
                        </div>
                    </div>
                </div>
            {{ form_end(registrationForm)}}
        </div>
    </section>
{% endblock %}